@media screen and (max-width: 600px){
    body {
        margin: 0;
      }
      #container {
        min-height: 100vh;
        min-width: 100vw;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 60px 1fr 1fr 60px;
        background-color: rgb(249, 247, 240);
      }
      header
       {
        border-top: 3px solid #304943;
        border-bottom: 1px solid #0000;
        grid-column: 1 / -1;
       }
       footer{
        border-top: 1px solid rgb(232, 232, 232);
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
       }
      aside {
        grid-row: 2 / span 1;
        border-bottom: 1px solid rgb(232, 232, 232);
      }
    
      header h1 {
        margin: 0;
      }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        word-spacing: 40px;
        background-color: #304943; 
    }
    h1, h3 {
        color: gray;
        font-family: sans-serif;
        font-weight: 100;
    }
    img{
        width: 80%;
        height: auto;
        border-radius: 50%;
      
    }
    section{
        border-color: gray;
        padding-left: 5%;
    }
    .hover{
        text-align: center;
    }
    /*--------------------------------------------------*/ 
    
    a.link {
        color: #304943	;
        font-family: sans-serif;
        text-decoration: none;
    }
    a {
        color: black;
        font-family: sans-serif;
    }
    
    p.header{
        color: black	;
        font-family: sans-serif;
    }
    p.spacer{
        background-color: black	;
    }
    
    p, td, footer{
        color: black;
        font-family: sans-serif;
    }
    .bar { 
        background-color: rgb(249, 247, 240); 
        width: 50%; 
        border-radius: 15px;
    } 
    
    .skill { 
        background-color: #304943	; 
        color: white; 
        padding: 2%; 
        text-align: right; 
        font-size: 50px; 
        border-radius: 15px; 
    }
    .css { 
        width: 10%; 
    } 
    .html { 
        width: 50%; 
    } 
    
    .javascript{
        width: 5%;
    }
    
    .sleeping{
        width: 100%;
    }
    
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p.seperate{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }  body {
        margin: 0;
      }  
    #container {
        min-height: 100vh;
        min-width: 100vw;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 60px 1fr 1fr 60px;
      }
      p.thick{
        font-family: sans-serif;
        font-weight: bold;
    }
    a.hover:hover{

        color: white;
    }
    p.faint{
        color: gray;
    }
}
@media screen and (min-width: 601px){
    body {
        margin: 0;
      }
      #container {
        min-height: 100vh;
        min-width: 100vw;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 60px 1fr 1fr 60px;
        background-color:rgb(249, 247, 240);
      }
      header
       {
        border-top: 3px solid #304943	;
        border-bottom: 1 solid rgb(232, 232, 232);
        grid-column: 1 / -1;
       }
       footer{
        border-top: 1px solid rgb(232, 232, 232);
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
       }
      aside {
        grid-row: 2 / span 2;
        border-right: 1px solid rgb(232, 232, 232);
      }
    
      header h1 {
        margin: 0;
      }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        word-spacing: 40px;
        background-color: #304943; 
    }
    h1, h3 {
        color: #304943;
        font-family: sans-serif;
        font-weight: 100;
    }
    img{
        width: 80%;
        height: auto;
        border-radius: 50%;
      
    }
    section{
        border-color: gray;
        padding-left: 5%;
    }
    
    /*--------------------------------------------------*/ 
    
    a.link {
        color: #304943	;
        font-family: sans-serif;
        text-decoration: none;
    }
    a {
        color: black;
        font-family: sans-serif;
    }
    
    p.header{
        color: black	;
        font-family: sans-serif;
    }
    p.spacer{
        background-color: #304943	;
    }
    
    p, td, footer{
        color: black;
        font-family: sans-serif;
    }
    .bar { 
        background-color: rgb(249, 247, 240); 
        width: 50%; 
        border-radius: 15px;
    } 
    
    .skill { 
        background-color: #304943	; 
        color: white; 
        padding: 2%; 
        text-align: right; 
        font-size: 50px; 
        border-radius: 15px; 
    }
    .css { 
        width: 10%; 
    } 
    .html { 
        width: 50%; 
    } 
    
    .javascript{
        width: 5%;
    }
    
    .sleeping{
        width: 100%;
    }
    
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p.thick{
        font-family: sans-serif;
        font-weight: bold;
    }
    a.hover:hover{

        color: white	;
    }
    p.faint{
        color: gray;
    }

}